:root {
  --other-msg:  #854e24;
  --focused-chat: #583418;
  --basic-color:  #e6c1a6;
  --hover-chat:  #daa379;
  --text-color-basic: black;
  --text-color-other-msg: white;
}

body {
  overflow-x: auto;
}

body p {
  margin:0;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  position: relative;
  color: var(--text-color-basic);
}

body *::-webkit-scrollbar{
  width: 0.5rem;
}

body *::-webkit-scrollbar-thumb{
  background: var(--basic-color);
  box-shadow: inset 0 0 4px var(--other-msg);
  border-radius: 0.25rem;
}

body *::-webkit-scrollbar-thumb:hover{
  background: var(--other-msg);
}

/*Chat properties*/
.chat {
  background-color: #fae0cc;
  background-image: var(--bcgr-image);
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 20%;
  width: 100%;
  margin-top: 35px;
  right: 0;
}

.chat-head {
  position: absolute;
  background-color: var(--basic-color);
  padding-left: 350px;
  width: 100vw;
  right: 0;
  height: 35px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.members{
  position: fixed;
  top: 35px;
  background-color: var(--basic-color);
  border: 3px solid var(--focused-chat);
  border-radius: 20px;
  padding: 10px;
  animation: first-appearance 200ms ease-in;
}

.members ul {
  margin: 0;
  padding-top: 10px;
  list-style: circle inside;
  font-weight: normal;
}

.themes {
  position: absolute;
  right: 0;
}

.theme {
  width:35px;
  height:35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.theme:hover{
  cursor: pointer;
  border:1px solid white;
}

.theme svg {
  width: 25px;
  height: 25px;
}

.messages {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 10px;
  padding-bottom: 100px;
}

.block-message {
  display: flex;
  flex-direction: row;
}

.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  color: white;
  background-color: var(--focused-chat);
  text-align: center;
  overflow: hidden;
}

.user-avatar img {
  width:30px;
}

.userMsg, .compMsg {
  border-radius: 5px;
  padding: 10px;
  max-width: 40%;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 10px;
}

.userMsg {
  background-color: var(--basic-color);
  align-self: flex-end;
}

.compMsg {
  background-color: var(--other-msg);
  align-self: flex-start;
  color: var(--text-color-other-msg);
}
.compMsg p{
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  color: var(--basic-color)
}

.chat-tail-container {
  position: fixed;
  bottom: 0;
  width:100vw;
  left:0;
  padding-left: 350px;
  display: flex;
  justify-content: center;
}

.chat-tail {
  width:60%;
  min-width: 500px;
  background-color: var(--basic-color);
  border-top: 5px solid var(--other-msg);
  border-left:5px solid var(--other-msg);
  border-right: 5px solid var(--other-msg);;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  padding: 5px 5px;
  align-items: center;
}

.form-text{
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.chat-tail textarea {
  background-color: transparent;
  width: 90%;
  border: none;
  font-size: 1.05rem;
  font-family: inherit;
  resize: none;
  cursor: auto;
  min-height: 30px;
  max-height: 100px;
  line-height: 20px;
  color: var(--text-color-basic);
}

.chat-tail textarea:focus {
  outline: none;
  border: none;
}

.chat-tail textarea::-webkit-scrollbar {
  width: 0.35rem;
}

.chat-tail textarea::-webkit-scrollbar-thumb {
  background-color: var(--focused-chat);
  border-radius: 0.15rem;
}

button#submit {
  background-color: transparent;
  margin-left: auto;
  color: var(--other-msg);
}

button#submit svg{
  width: 40px;
  height: 40px;  
}
button#submit .st1 {
  fill: var(--other-msg);
}

button#submit:hover, button#submit-image:hover {
  cursor: pointer;
}

button#submit .st1:hover {
  fill: black;
}

button#submit-image {
  color:var(--other-msg);
}

button#submit-image svg {
  width:25px;
  height:25px;
}

button#submit-image:hover {
  color: black;
}
/*The end of Chat properties*/

/* User properties */
.user-container {
  position: fixed;
  width:100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: first-appearance 200ms ease-in;
  z-index: 9999;
  color: black;
}

@keyframes first-appearance {
  0%{
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}

#user-picture {
  transform: translate(0,50%);
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 45px;
}

.user-menu {
  width: 300px;
  background-color: white;
  min-height: 100px ;
  border-radius: 20px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-menu li {
  font-size: 1.5rem;
  flex-grow: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid var(--other-msg);
}

.user-menu li>button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  white-space: pre;
}

#log-out {
  color: red;
  /* border: 1px solid black; */
  font-size: 1.2rem;
  width: auto;
  height: auto;
  margin-left: 50%;
  transform: translate(-50%,0);
}

/* Authentication */
.log-in-container {
  background-color: white;
  min-height: 100px ;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-log-in {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-bottom: 10px;
}

.form-log-in button {
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

#link-to-forgot-password, #link-to-signup, #link-to-login {
  cursor:pointer;
  text-decoration: underline;
  color: rgb(9,74,113);
}

#error-passwords-not-equal, .error {
  color: red;
  font-size: 0.8rem;
}

.msg-correct {
  color: rgb(9,74,113);
  font-size: 0.8rem;
}

#log-in {
  border: 1px solid black;
  color: rgb(9,74,113);
  font-size: 1.2rem;
  margin: 20px 0;
}

/* Add new chat */
.add-chat-container, .add-group-container {
  position: fixed;
  top:0;
  left:0;
  width:100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: first-appearance 200ms ease-in;
}

.form-add-user, .form-add-group {
  background-color: white;
  width: 350px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.form-add-user *{
  margin: 10px;
}

.form-add-user select {
  height: 40px;
}

.form-add-user select option {
  font-size: 1.1rem;
  padding: 5px 0 5px 10px;
}

.form-add-user button, .form-add-group button {
  border: 1px solid black;
  border-radius: 10px;
}

.form-add-group button {
  margin-top: 20px;
}

.chosen-users-container {
  display: flex;
  flex-direction: row;
}

.chosen-user {
  border: 1px solid black;
  border-radius: 20px;
  display: inline-flex;
  font-size: 1rem;
  padding: 0 5px;
}

.chosen-user button {
  border: 1px solid black;
  width: 1rem;
  border: none;
  margin: 0;
}

.chosen-user button svg {
  width: 0.6rem;
  height: 0.6rem;
  border: 1px solid black;
  border-radius: 5px;
}

.form-add-group label:first-child{
  margin-bottom: 20px;
}

.form-add-group input:first-child{
  margin-top: 10px;
}

.form-add-group #user-select {
  margin-top: 20px;
}
/* The end of User properties */

.list-of-chats {
  background-color: var(--basic-color);
  border-right: 1px solid var(--focused-chat);
  height: 100vh;
  /* width: 30%;
  max-width: 350px; */
  width: 350px;
  color: var(--text-color-basic);
  overflow: hidden;
  overflow-y: auto;
  flex-shrink: 0;
}

button#menu {
  margin-top: 35px;
  color:var(--other-msg);
  background-color: transparent;
  height: 50px;
  width: 50px;
  padding: 0;
  overflow: hidden;
  border: none;
  transition: color 100ms ease-in;
}

button#menu svg {
  width: inherit;
  height: 100%;
  padding: 10px;
}

button#menu:hover {
  color:black;
  cursor: pointer;
}

.element-of-list {
  display: flex;
  height: 4rem;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  transition: background-color 100ms ease-in;
}

.element-of-list-icon {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  background-color: var(--other-msg);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  flex-shrink: 0;
}

.element-of-list-name {
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 1px;
  margin-bottom: 0.2rem;
}

.element-of-list-msg {
  font-size: 0.9rem;
  overflow: hidden;
}

.element-of-list:hover {
  cursor: pointer;
  background-color: var(--hover-chat);
}

.element-of-list-focused {
  background-color: var(--focused-chat);
  color: var(--text-color-other-msg);
}

.element-of-list-focused:hover {
  background-color: var(--focused-chat);
}

@media only screen and (max-width: 850px) {
  .chat-tail-container, .chat-head{
    padding-left: 50px;
  }
  .chat-tail{
    min-width: 400px;
  }
  .list-of-chats {
    width:50px;
    transition: width 400ms ease-in;
  }
  .chat {
    width: 100%;
  }
  .userMsg, .compMsg {
    max-width: 70%;
  }
  .list-of-chats:hover {
    width:350px;
  }
  .element-of-list p, .element-of-list-name p {
    overflow: hidden;
  }
}

@media only screen and (max-width: 450px) {
  .chat-tail{
    min-width: 300px;
  }
}