@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}


* {
  overflow:auto;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

button:hover {
  cursor: pointer;
  font-weight: bold;
}

option {
  /* font-family: inherit; */
}

label {
  display: flex;
  flex-direction: column;
}